<footer class="bg-Natural-95 border-top border-Natural-85">
  <div
    class="container py-6 d-xl-flex justify-content-lg-between align-items-center flex-wrap"
  >
    <ul class="nav justify-content-center align-items-center">
      <li class="nav-item fs-b-md fs-lg-md-b-md py-2 px-4 mb-2">
        <a class="nav-link text-dark" href="service.html">服務方案</a>
      </li>
      <li class="nav-item fs-b-md fs-lg-md-b-md py-2 px-4 mb-2">
        <a class="nav-link text-dark" href="about.html">關於職旅</a>
      </li>
      <li class="nav-item fs-b-md fs-lg-md-b-md py-2 px-4 mb-2">
        <a class="nav-link text-dark" href="contact.html">聯絡我們</a>
      </li>
      <li class="nav-item fs-b-md fs-lg-md-b-md py-2 px-4 mb-2">
        <a class="nav-link text-dark" href="privacy_policy.html">隱私權政策</a>
      </li>
      <li class="nav-item fs-b-md fs-lg-md-b-md py-2 px-4 mb-2">
        <a class="nav-link text-dark" href="terms.html">用戶條款</a>
      </li>
    </ul>
    <p class="text-center fs-b-md fs-lg-md-b-sm text-Natural-50">
      Copyright © 2025 職旅 workway. All rights reserved.
    </p>
  </div>
</footer>
